back-app/node_modules
back-app/public/hot
back-app/public/storage
back-app/storage/*.key
back-app/vendor
back-app/.env
back-app/.env.backup
back-app/.phpunit.result.cache
back-app/Homestead.json
back-app/Homestead.yaml
back-app/npm-debug.log
back-app/yarn-error.log

front-app/dist
front-app/tmp
front-app/out-tsc
front-app/bazel-out
front-app/node_modules
front-app/chrome-profiler-events*.json
front-app/speed-measure-plugin*.json
front-app/.idea
front-app/.project
front-app/.classpath
front-app/.c9/
front-app/*.launch
front-app/.settings/
front-app/*.sublime-workspace
front-app/.vscode/*
front-app/!.vscode/settings.json
front-app/!.vscode/tasks.json
front-app/!.vscode/launch.json
front-app/!.vscode/extensions.json
front-app/.history/*
front-app/.sass-cache
front-app/connect.lock
front-app/coverage
front-app/libpeerconnection.log
front-app/npm-debug.log
front-app/yarn-error.log
front-app/testem.log
front-app/typings
front-app/.DS_Store
front-app/Thumbs.db