<body>
		<form id="rendered-form">
	<div class="rendered-form">
		<div class="">
			<h2 access="false" id="control-4222593">Hexapod: #001<br></h2>
		</div>
		<img alt="Video-server error" src="http://192.168.1.104:8080/?action=stream"
         width="800" height="600">
		<div class="formbuilder-button form-group field-Leftward-button">
			<button type="button" class="btn-default btn" name="Leftward-button" (click)="leftwardMove()" access="false"  id="Leftward-button">Leftward<br>
			</button>
		</div>
		<div class="formbuilder-button form-group field-Rightward-button">
			<button type="button" class="btn-default btn" name="Rightward-button" (click)="rightwardMove()" access="false" id="Rightward-button">Rightward<br>
			</button>
		</div>
		<div class="formbuilder-button form-group field-Forward-button">
			<button type="button" class="btn-default btn" name="Forward-button" (click)="forwardMove()" access="false" id="Forward-button">Forward<br>
			</button>
		</div>
		<div class="formbuilder-button form-group field-Backward-button">
			<button type="button" class="btn-default btn" name="Backward-button" (click)="backwardMove()" access="false"  id="Backward-button">Backward<br>
			</button>
		</div>
	</div>
		</form>
</body>
