<form id="rendered-form">
	<div class="rendered-form">
		<div class="">
			<h2 access="false" id="control-4222593">Hexapod: #001<br></h2>
		</div>
		<picture>
 			<source  media="(min-width: 600px)">
 			<img alt="Server error!">
		</picture>
		<div class="formbuilder-button form-group field-Leftward-button">
			<button type="button" class="btn-default btn" name="Leftward-button" (click)="leftwardMove()" access="false"  id="Leftward-button">Leftward<br>
			</button>
		</div>
		<div class="formbuilder-button form-group field-Rightward-button">
			<button type="button" class="btn-default btn" name="Rightward-button" (click)="rightwardMove()" access="false" id="Rightward-button">Rightward<br>
			</button>
		</div>
		<div class="formbuilder-button form-group field-Forward-button">
			<button type="button" class="btn-default btn" name="Forward-button" (click)="forwardMove()" access="false" id="Forward-button">Forward<br>
			</button>
		</div>
		<div class="formbuilder-button form-group field-Backward-button">
			<button type="button" class="btn-default btn" name="Backward-button" (click)="backwardMove()" access="false"  id="Backward-button">Backward<br>
			</button>
		</div>
		<div class="formbuilder-textarea form-group field-Output-area">
			<label for="Output-area" class="formbuilder-textarea-label">Device output<br>
			</label>
			<textarea type="textarea" class="form-control" name="Output-area" access="false" id="Output-area">
			</textarea>
		</div>
	</div>
</form>
